<footer class="site-footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">

      <!-- Navegación -->
      <div class="col-md-6 mb-3">
        <h5>Secciones</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="footer-link">Home</a></li>
          <li><a routerLink="/servicios" class="footer-link">Servicios</a></li>
          <li><a routerLink="/contacto" class="footer-link">Contáctanos</a></li>
        </ul>
      </div>

      <!-- Información adicional -->
      <div class="col-md-6 mb-3">
        <h5>Conecta con nosotros</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://facebook.com" target="_blank" class="footer-link">Facebook</a></li>
          <li class="list-inline-item"><a href="https://instagram.com" target="_blank" class="footer-link">Instagram</a></li>
          <li class="list-inline-item"><a href="https://wa.me/5219991234567" target="_blank" class="footer-link">WhatsApp</a></li>
        </ul>
      </div>

    </div>

    <div class="text-center mt-4">
      <small>&copy; {{ currentYear }} Suculenta SPA. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>

